// .some {
//     width: 25%;
// }

.search-persons {
    overflow: auto;
    width: 75%;
    height: 85vh;
    padding: 15px;
    // display: flex;
}

.subs-persons {
    padding: 15px;
    width: 25%;
    text-align: center;
}

.post-container {
    padding: 15px;
    overflow: auto;
    // width: 75%;
    height: 85vh;
}

.show-btn {
    margin-bottom: 5px;
}

.image-galery {
    // margin-left: 25;
    // width: 50%;
}

.auth {
    width: 25%;
    margin-left: 35%;
    margin-top: 30vh;
}
